#THEORETICAL QUESTIONS ---------------------------->

Data Types and Structures Questions
 1. What are data structures, and why are they important
  - Data structures are ways to organize and store data so it can be accessed and modified efficiently.

- Example: Lists, Tuples, Dictionaries, Sets.
- Importance: They help improve efficiency, make programs faster, and reduce memory usage.
2.  Explain the difference between mutable and immutable data types with examples
- Mutable: Can be changed after creation.
Example → list1 = [1, 2, 3]; list1[0] = 10 works.

- Immutable: Cannot be changed after creation.
Example → tup = (1, 2, 3); tup[0] = 10  error.

3. What are the main differences between lists and tuples in Python
 - Feature:	List ([])	Tuple (())
- Mutability:	Mutable	Immutable
- Speed:Slower	Faster
- Use Case:	Frequent updates	Fixed data (constants)

 4. Describe how dictionaries store data
  - Dictionaries store data as key-value pairs.
- Example:

- student = {"name": "Shivansh", "age": 22}


- Keys → unique identifiers

- Values → data linked to keys

- They are implemented internally using a hash table.

5. Why might you use a set instead of a list in Python
  - Set automatically removes duplicates.

- Faster lookup (in operation).
- Example: set([1,2,2,3]) → {1,2,3}

 6. What is a string in Python, and how is it different from a list
  - A string is a sequence of characters enclosed in quotes.

- A list is a collection of elements (can be numbers, strings, etc.).
Difference:

- String → immutable.

- List → mutable.
Example: "hello"[0] = "y" , [1,2,3][0] = 10 .

 7. How do tuples ensure data integrity in Python3
  - Since tuples are immutable, once created, the data inside cannot be changed → ensures integrity (no accidental modification).

 8. What is a hash table, and how does it relate to dictionaries in Python
 - A hash table maps keys → values using a hash function.

- Python dictionaries are built on hash tables, which allow O(1) average-time access.

 9. Can lists contain different data types in Python
 - Yes
  Example: my_list = [1, "hello", 3.5, True]
  - because it contains heterogenous data

 10. Explain why strings are immutable in Python
  - Strings are immutable because they are interned and reused internally for efficiency.

- If they were mutable, multiple variables pointing to the same string would cause unwanted changes.

 11. What advantages do dictionaries offer over lists for certain tasks
 -Faster lookups (O(1) vs O(n)).

- Data stored with meaningful keys, not just numeric indexes.
- Example: Searching student by id is easier in dict than in list.
 12. Describe a scenario where using a tuple would be preferable over a list
 -When you want to protect data from modification.
- Example: Storing geographical coordinates (lat, long) → (30.7333, 76.7794).
 13.  How do sets handle duplicate values in Python3
 -Sets automatically ignore duplicates.
- Example: {1, 2, 2, 3} → {1, 2, 3}
 14. How does the “in” keyword work differently for lists and dictionaries
 -List: checks if element exists in values.
- Example: 5 in [1,2,5] → True

- Dict: checks only keys, not values.
- Example: 5 in {"a":1, "b":5} → False
 15. Can you modify the elements of a tuple? Explain why or why not
  - No  because tuples are immutable.
- Example:

- t = (1,2,3)
- t[0] = 10   # error
 16. What is a nested dictionary, and give an example of its use case
  - A dictionary inside another dictionary.
- Example:

- students = {
   "101": {"name": "Shivansh", "age": 22},
   "102": {"name": "Ajay", "age": 21}
}


- Use Case → Storing structured data like student records.
 17. Describe the time complexity of accessing elements in a dictionary
 -Average case: O(1)

- Worst case (rare): O(n) if many hash collisions.
 18. In what situations are lists preferred over dictionaries
 - When order matters.

- When only values are important, not key-value mapping.

- Example: storing marks [90, 85, 75].
 19. Why are dictionaries considered unordered, and how does that affect data retrieval

 - Before Python 3.7 → unordered (random order).

- From Python 3.7+ → they preserve insertion order, but conceptually they are unordered (keys retrieved via hash).
- Effect → You should not rely on dictionary order for logic.
 20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: retrieval by index (position).
- Example: list1[0] → first element.

- Dict: retrieval by key (label).
- Example: dict1["name"] → value linked to "name".

#PRACTICAL QUESTIONS----------------------------->

1. Write a code to create a string with your name and print it

2.  Write a code to find the length of the string "Hello World"

3. Write a code to slice the first 3 characters from the string "Python
Programming"

4. Write a code to convert the string "hello" to uppercase

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

6. Write a code to create a list with numbers 1 to 5 and print itP

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

10.  Write a code to reverse the list [10, 20, 30, 40, 50].


11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

28. Write a code to create a list with strings and print the element at the third index.

29. Write a code to combine two dictionaries into one and print the result.

30. Write a code to convert a list of strings into a set.

In [ ]:
#1.
name = "Shivansh Grover"
print(name)

In [ ]:
#2.
text = "Hello World"
print(len(text))

In [ ]:
# 3.
text = "Python Programming"
print(text[:3])

In [ ]:
#4.
word = "hello"
print(word.upper())

In [ ]:
#5.
text = "I like apple"
print(text.replace("apple", "orange"))

In [ ]:
#6.
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
#7.
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

In [ ]:
#8.
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

In [ ]:
#9.
letters = ['a', 'b', 'c', 'd']
print(letters[1])

In [ ]:
#10.
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

In [ ]:
#11.
t = (100, 200, 300)
print(t)

In [ ]:
#12.
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

In [ ]:
#13.
t = (10, 20, 5, 15)
print(min(t))

In [ ]:
#14.
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

In [ ]:
#15.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

In [ ]:
#16.
s = {'a', 'b', 'c'}
print(s)

In [ ]:
#17.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
#18.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

In [ ]:
#19.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

In [ ]:
#20.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

In [ ]:
#21.
person = {"name": "Shivansh", "age": 22, "city": "Mohali"}
print(person)

In [ ]:
#22.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

In [ ]:
#23.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

In [ ]:
#24.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

In [ ]:
#25.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

In [ ]:
#26.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

In [ ]:
#27.
import random
nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print(nums)

In [ ]:
#28.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

In [ ]:
#29.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

In [ ]:
#30.
words = ["apple", "banana", "apple", "cherry"]
s = set(words)
print(s)